.DS_Store
.env
vendor
public/wp-content/uploads
public/wp-content/cache
public/wp-content/plugins
public/wp-content/themes/twentyfifteen
public/wp-content/themes/twentysixteen
public/wp-content/themes/twentyseventeen